html {
	background: url("images/html_background.png") #E8E1D5;
	font-size: 15px;
	font-family: serif;
	box-shadow: 0 0 75px rgba(0, 0, 0, 0.50) inset;
	height: 100%;
	overflow: hidden;
	color: #333;
}

body {
	overflow: auto;
}

p {
	margin-bottom: 10px;
}

.skip_to_content_link {
	position: absolute;
	left: -999999px;
	top: -999999px;
}

.page_wrapper {
	background-color: #FFF;
	border: 1px solid #9C8A6B;
	border-width: 0 1px;
	min-height: 100%;
}

.header {
	margin-top: 30px;
}

.logo,.logo:hover {
	color: #53322B;
	font-size: 50px;
	text-decoration: none;
	text-shadow: 3px 3px 1px #BBBBBB;
	font-weight: bold;
}

.logo:hover {
	color: #7C4D43;
}

.slogan {
	display: block;
	font-style: italic;
	font-size: 14px;
	color: #777;
}

.content {
	margin-top: 50px;
}

.title {
	color: #53322B;
	margin-bottom: 15px;
	font-size: 30px;
}

.form_label {
	font-size: 16px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.form_input {
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 0;
	display: block;
	border-radius: 3px;
}

.text_input {
	padding: 5px;
}

.button {	
	font-family: serif;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	display: block;
	color: #FFF;
	background-color: #53322B;
	border-radius: 5px;
	box-shadow: 3px 3px 1px #BBBBBB;
	border: none;
	cursor: pointer;
}

.button:hover {
	background-color: #7C4D43;
	box-shadow: 2px 2px 1px #BBBBBB;
	margin: 1px 0 0 1px;
}

.push_me.button {
	padding: 10px;
	display: block;
	color: #FFF;
	border-radius: 10px;
	font-size: 25px;
	margin: 20px 0;
}

.push_me.button:hover {	
	margin-top: 21px;
}

.error_list {
	display: none;
	background-color: #F74747;
	border: 3px dashed #FF9595;
	color: #FFFFFF;
	margin-top: 26px;
	border-radius: 3px;
}

.error_list .item {
	margin: 15px 15px 15px 35px;
	list-style: disc;
	display: list-item;
	line-height: 22px;
}